<%- include('./partials/head.ejs'); %>

<body>
    <div class="first-page">
        <div class="first-page-container">
            <div class="left">
            </div>
            <div class="right">
                <div id="right-text">
                    Saving Humanity
                    With
                    A1
                    Content
                </div>
            </div>
        </div>
    </div>
    <div class="blogs-container">
        <div class="header-container">

            <div class="header-box">
                <span class="header"> This Week </span>
            </div>
            <div class="options-box">
                <span id="add-blog">
                    <a id="add-blog-a"> <i class="fa fa-plus"></i> </a>
                    <!-- <i class="fa-solid fa-plus"></i> -->
                </span>
            </div>

        </div>
        <!-- </div> -->
        <div class="blogs-content">
            <% if(blogs.length  > 0) { %>
            <% blogs.forEach(blog => { %>
            <div class="blog">
                <div class="blog-preview-media">
                    <img src="../public/uploads/<%= blog.media %>" alt="loading...">
                </div>
                <div class="blog-preview-descripion">
                    <span class="blog-title"> <%= blog.title %> </span><br>
                    <span class="blog-snippet"> <%= blog.snippet %> </span>
                </div>
                <div class="blog-preview-details">
                    <span class="blog-author"> <%= blog.nickname %> </span>
                    <i class="fa fa-heart"></i>
                    <span class="blog-likes"> <%= blog.likes %> </span>
                </div>
            </div><br><br>
            <% }) %>
            <% } else { %>
            <span> You are the first one here this week! </span>
            <% } %>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs'); %>

</html>